body {
    background-color: red;
}

img {
    width: 300px;
    display: block;
    margin: auto;
}

.title {
    text-align: center;
}

.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    padding: 40px;
}

.cards {
    border: 1px solid lightblue;
    box-shadow: 5px 5px black;
    flex: 0 0 30%;
    margin: 5px;
}

.cards p {
    text-align: justify;
}

.second-section p {
    font-weight: bold;
    margin-left: 10px;
}

 .second-section h4 {
    font-weight: bold;
}

.second-section footer {
    background-color: grey;
    color: yellow;
    padding: 5px;
}